---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const latestPost = (await getCollection("blog"))
 .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
 .slice(0, 1);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<sa>
				<h1>Sigma Corporation</h1>
				<h4>It's <mark>Peak</mark> modding.</h4>
				We make cool creative projects, from Minecraft mods, to design <br />and even music!
			</sa>
				<ul>
					{
						latestPost.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
									<p class="subText">*Latest Post*</p>
								</a>
							</li>
						))
					}
				</ul>
				
		</main>
	</body>

	<style>
			sa {
				margin-right: 2rem;
			}
			main {
				display: flex;
				width: 80%;
				margin: auto;
				padding-top: 2rem;
				max-width: 100%;
			}
			ul {
				list-style-type: none;
				padding: 0;
				margin: auto;
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
				text-align: center;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
				max-height: 200px;
				height: auto;
				width: auto;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			.subText {
				margin: 0;
				color: rgb(var(--gray));
				font-size: 15px;
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
		
		</style>

	<Footer />
</html>
